.blank-tab{
    width: 11vw;
}

.tabs{
    font-family: answersFont;
    font-size: 8vh;;
}

.text-tab{
    display: inline;
}

/* .cheack-btn{
    border-radius: 0.3em;
    align-self: flex-end;

} */

/* .fill-btn-cont{
    width: 100%;
    height: 100%;

} */