.back-btn{
    align-self: flex-start;
}

.questions-container{
    height: 74%;
    justify-content: space-between;
}

.cheack-btn {
    border-radius: 0.3em;
    align-self: flex-end;
    margin: 1vh;
    font-size: 4vh;
}